.student__homepage__wrapper {
  min-height: 550px;
  & .stu_dashboard_card{
      border-radius: 10px;
      background: white;
      min-height: 200px;
      text-align: center;
      box-shadow: 1px 1px 1px 0.5px #738157;
    & .card__img {
      width: 100px;
      height: auto;
    }
  }

  & .stu_dashboard_card:hover {
    box-shadow: 0 1px 4px 0 #738157, 0 1px 10px 0 #c9c743;
  }
}