@import './responsive';

.layout__main {
  margin-top: 70px !important;

  & .layout__sidebar {
    background: white !important;
    overflow: auto;
    min-height: 100vh !important;
    position: fixed !important;
    left: 0 !important;
    top: 70px !important;
    bottom: 0 !important;
    border-radius: 10px !important;
    z-index: 5 !important;
  }

  & .layout__right {
    & .layout__header {
      padding: 0;
      background: white !important;
      margin: 10px;
      border-radius: 5px;

      & .header_title {
        font-size: 1.7rem !important;
        text-transform: uppercase;
        font-weight: 650 !important;
        line-height: 1.2;
        color: #676c70 !important;
        padding-left: 10px;
      }

      @include respond(sm) {
        & .header_title {
          font-size: 1.0rem !important;
        }

        & .header_title_hidden {
          display: none;
        }

        & .student_header_btn_collapsed {
          margin-left: 190px !important;
          transition: 0.3s ease;
        }
        & .advisor_header_btn_collapsed {
          margin-left: 225px !important;
          transition: 0.3s ease;
        }
      }
    }

    & .layout__content {
      margin: 10px;
      padding: 24px;
      min-height: 280px;
      background: white;
      border-radius: 5px;
    }
  }

  @include respond(sm) {
    .res_sider_open {
      left: -80px !important;
    }

    .res_sider_close {
      left: 0px !important;
    }

    .layout__right {
      padding-left: 0px !important;
    }
  }
}