$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin respond($breakpoint) {
  @if $breakpoint ==sm {
    @media (max-width: $sm) {
      @content
    }

    ; //576
  }

  @if $breakpoint ==md {
    @media (max-width: $md) {
      @content
    }

    ; //768px
  }

  @if $breakpoint ==lg {
    @media (max-width: $lg) {
      @content
    }

    ; //992px
  }

  @if $breakpoint ==xl {
    @media (max-width: $xl) {
      @content
    }

    ; //1200px
  }
}