@import '../../scss/responsive';

.register__topic {
  & .student_information {
    & .stu_infor_search {
      color: blue !important;
    }
  }

  & .student_search_infor {
    & .student_search_box {
      border: 1px solid #ffccc7;
      background-color: #fff2f0;
      padding: 8px 12px;
      border-radius: 8px;
      max-width: 250px;
    }
 
    & .change__color__icon:hover {
      color: blue;
    }
  }

  @include respond(md) {
    & .advisor_information {
      flex-direction: column !important;
      align-items: flex-start;
      gap: 10px;
    }

    & .btn_add_advisor {
      width: auto !important;
      margin: 0 auto !important;
    }
  }

  @include respond(lg) {
    & .student_information {
      flex-direction: column !important;
      align-items: flex-start;
      gap: 10px;
      & .icon__delete__res {
        margin-top: 0px !important;
      }
    }

    & .btn_add_student {
      width: auto !important;
      margin: 0 auto !important;
    }
  }
}